<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<title>C Exam</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<div class="container">
  <form th:action=@{/result} th:object="${examresult}" action="#" method="POST">
	<div class="row" th:each="question : ${questions}">
	    <br/>
        <div class="panel panel-primary">
             <div class="panel-heading">                  
                  <pre th:text="${question.question}"></pre>
             </div><!--.panel-heading-->
        
			<div class = "panel-body">
      			<h4>Your Answer</h4>
           </div>
<ul class = "list-group">
    <li class = "list-group-item">
          <div class="radio">
            <input type="radio" id="radio" th:name="${examresult['+ question.id +']" th:value="${question.choice[0]}" />
            <label for="radio" th:text="${question.choice[0]}"></label>
        </div>
    </li>
    <li class = "list-group-item">
          <div class="radio">
            <input type="radio" id="radio" th:name="${examresult['+ question.id +']" th:value="${question.choice[1]}" />
            <label for="radio" th:text="${question.choice[1]}">
            </label>
        </div>
    </li>
    <li class = "list-group-item">
          <div class="radio">
            <input type="radio" id="radio" th:name="${examresult['+ question.id +']" th:value="${question.choice[2]}" />
            <label for="radio" th:text="${question.choice[2]}"> </label>
        </div>
    </li>
    <li class = "list-group-item">
          <div class="radio">
            <input type="radio" id="radio" th:name="${examresult['+ question.id +']" th:value="${question.choice[3]}" />
            <label for="radio" th:text="${question.choice[3]}"></label>
        </div>
    </li>	
   </ul>
   </div>        
   <input type="submit" value="Submit" />
</div>
</form>
</div>
</body>
</html>